<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<title>Löytökoti</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<h1>Kiitos, että olet adoptoimassa!</h1>
		<p>Olemme sinuun yhteydessä mahdollisimman pian sähköpostitse!</p>

		<a class="btn btn-success" href="/animallist">Palaa etusivulle</a>
	</div>
</body>
</html>